/************Hero_Converter*************/
.hero-container {
    display: flex;
    flex-direction: row;
    justify-items: normal;
    background-image: linear-gradient(#ACB6E5, #74ebd5);
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    font-size: 2vw;
    font-family: 'Cinzel Decorative', cursive;
}

.contents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.hero-container p,
.hero-container input,
.hero-container select,
.hero-container button {
    margin: 50px 5px;
    min-width: 50px;
    padding: 0 10px;
    font-size: inherit;
    font-family: 'Cinzel Decorative', cursive;
    border-radius: 10px;
    /*border: 0;*/
}