/****************Part03***************/
.magic-container {
  
    background: #4d8c94;
    margin: 0;
    padding: 30px;
    border-radius: 20px;
    width: max-content;
    font-size: 2vw;
    font-family: 'Cinzel Decorative', cursive;
}

.magic-container h2 {
    margin-top: 0;
}

.magic-container textarea {
    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    aspect-ratio: 16/9;
    outline: 5px dashed rgb(18, 70, 71);
    outline-offset: -5px;
    background: #becece;
    margin: auto;
    padding: 10px;
    resize: horizontal;
    font-size: 1vw;
    font-family: 'Concert One', cursive;
}

.magic-controllers {
   
    width: 100%;
    display: flex;
    flex-direction: row;

}

.contents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* .contents{
    position: relative;
    top: 30%;
    left: 35%;
} */
.magic-controllers button {
    margin: 5px 5px;
    padding: 5px;
    min-width: fit-content;
    font-size: 1vw;
    font-family: 'Cinzel Decorative', cursive;
}

.magic-controllers button:first-child {
    margin-left: 0;
}

.magic-controllers button:last-child {
    margin-right: 0;
}

#btn-sort {
    width: 6.7%;
}

#btn-clear,
#btn-reverse,
#btn-shuffle {
    width: 13.3%;
}

#btn-cap,
#btn-strip {
    width: 20%;
}

#btn-add-num {
    width: 26.7%;
}